.course-name {
    font-size: 24px; /* Example size for courseName */
}

.course-duration {
    font-size: 16px; /* Example size for courseDuration */
}
.custom-card {
    padding: 20px; /* Adjust the padding value as needed */
    min-height: 200px;
}

