<br>
<h1>Course Listing</h1>
<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let item of courses">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-header">{{ item.courseName }} <br> {{ item.courseDuration }}</h5>
                    <p class="card-text">{{ item.courseDescription }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-primary" routerLink="/update/{{item.courseId}}">Edit</button>
                    <button class="btn btn-danger" (click)="Delete(item.courseId)" (click)="ReloadPage()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
